
#bodyClass {
    font-family: 'Exo 2', serif !important;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    position: relative;
}

header {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
}

header .block {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    width: 19%;
}

header.hoverable .block span {
    position: relative;
    height: 30px;
    padding: 0;
    overflow: hidden;
}

header.hoverable .block span:hover > .text {
    opacity: 1;
    top: 0;
}

header .block span .text {
    font-size: 20px;
}

header.hoverable .block span .text {
    transition: 0.2s;
    position: absolute;
    width: 100%;
    opacity: 0.5;
    font-size: 16px;
    height: 100%;
    line-height: 30px;
    top: -100%;
    color: #fff;
    border-radius: 0 0 3px 3px;
    background-color: #3498DB;
    text-align: center;
}

header .block span {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

header.start .block span:after {
    background-color: #3498DB;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    top: 10px;
    position: relative;
    -webkit-transition: width .1s ease-in-out;
    -moz--transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

header.start .block span:hover:after,
header.start .block span:focus:after {
    width: 50%;
}

#top {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#top #particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
}

#top #text {
    position: absolute;
    color: #fff;
    z-index: 2;
    text-align: center;
}

#top #text h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 100;
}

#top #text small {
    clear: both;
    font-size: 16px;
    text-transform: uppercase;
}

#desccription #window {
    position: absolute;
    border-radius: 2px;
    width: 90%;
    max-width: 1000px;
    bottom: -100px;
    background: #fff;
    z-index: 4;
    overflow: hidden;

}

#desccription #window #top-panel {
    width: 100%;
    position: relative;
    height: 30px;
    padding-left: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323638+0,232626+99 */
    background: #323638; /* Old browsers */
    background: -moz-linear-gradient(top, #323638 0%, #232626 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #323638 0%, #232626 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #323638 0%, #232626 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323638', endColorstr='#232626', GradientType=0); /* IE6-9 */
}

#desccription #window #top-panel .top-btn {
    width: 15px;
    height: 15px;
    margin-top: 7px;
    display: inline-block;
    margin-left: 4px;
    background-color: #fff;
    border-radius: 50%;
}

#desccription #window #window-content {
    padding-bottom: 40px;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
    text-align: justify;
    font-size: 20px;
}


#steps {
    height: 100%;
    width: 100%;
}

.btnnn:hover{
    background: #3498DB;
}
.btnnn{
    background: #257ca7;
    margin-top: 50px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    border-width: 0px;
    padding: 5px;
    width: 150px;
}

@media (max-width: 767px) {
    #top #text h2 {
        font-size: 48px;
    }

    #top #text small {
        font-size: 14px;
    }

    header .block {
        width: 17%;
    }

    header.block span .text,
    header.hoverable .block span .text {
        font-size: 14px;
    }
    #desccription #window {
        position: relative;
        width: 100%;
        bottom: 0px;
    }
    #desccription #window #top-panel .top-btn:nth-child(1){
        background-color: #d34147;
    }
    #desccription #window #top-panel .top-btn:nth-child(2){
        background-color: #e0e000;
    }
    #desccription #window #top-panel .top-btn:nth-child(3){
        background-color: #54a557;
    }
}
